


	

	<% unless user_signed_in? %>
  <div class="center jumbotron">
  <h1>Odin-Facebook by Jamesredux</h1>
	<h2>Please log in to see features</h2>
	<%= link_to "Create Account", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <p><%= link_to "Sign in", new_user_session_path %></p>
  <% end %>
</div>

<% if user_signed_in? %>		
 
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
        <%= render 'shared/user_info', user: current_user, size: 100 %>
      </h1>
        <span><%= link_to "view my profile", current_user %></span>
        <span><%= pluralize(current_user.posts.count, "post") %></span>
      </section>

    </aside>
  </div>

  <div class="row">
    <div class="col-md-4">
        <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </div>

    <div class="col-md-4">
        <section class="post_form">
        <%= render 'shared/pic_post_form' %>
      </section>
    </div>
  </div>


	<div class="col-md-8">
		<h3>Timeline</h3>
		<%= render 'shared/timeline' %>
	</div>



		
<% end %>			


