
<div class="col-md-12 post_style">
<li id="pic_post-<%= pic_post.id %>">
	<%= link_to gravatar_for(pic_post.user, size: 50), pic_post.user %>
	<span class="user"><%= link_to pic_post.user.name, pic_post.user %></span>	

	<span class="content">
		


		<% if pic_post.image.attached? %>

			<div class="link"><%= link_to image_tag(pic_post.display_image), pic_post_path(pic_post.id) %></div>

		<% end %>	
	</span>
		
	<span class="timestamp">
		Posted <%= time_ago_in_words(pic_post.created_at) %> ago.
		<% if is_signed_in_user(pic_post.user) %>
		<%= link_to "delete", pic_post, method: :delete,
													data: { confirm: "Are you sure?" }  %>
		<% end %>											
		</span> 

		<% if pic_post.comments.exists? %>
			<%= render 'comments/comment', post: pic_post %>
		<% end %>
		
			 
		<%= render 'shared/comment_form', user: current_user, post: pic_post %>

		<%= render 'shared/like_button', post: pic_post %>	
	
</li>

</div>
