

<%= provide(:title, @user.name) %>

<div class="container">
<div class="row">
  
    <section class="user_info">
      
         <%= render 'shared/user_info', user: @user, size: 100 %>
      
    
  

  <aside class="col-md-3 friend_button">
    <% if !current_user?(@user) && not_friends(@user)  %>
  
      <div id="friend_request_<%= @user.id %>">  
        <%= render 'shared/friend_request', friend: @user %>
      </div>  
      <% elsif !current_user?(@user) %>      
        <%= render 'friendships/unfriend', friend: @user %>
      <% end %>   

  </aside>
</div>



<div class="row">
  <% if signed_in_user? %>
    <ul>
	     <li><%= link_to "edit user", edit_user_registration_path %></li>
       <li><%= link_to "change profile pic", edit_user_path %></li>
       <li><%= link_to "Friends", friendships_path %></li>
       <li> <%= link_to "Friend Requests Sent", sent_requests_path %></li>
       <li> <%= link_to "Picture Posts", pic_posts_path %></li>
    </ul>

  <% end %>

  </section>
</div>




       


                            

<div class="row">
   
  <div class="col-md-8">
    <% if @user.posts.any? || @user.pic_posts.any? %>
      <h3>Timeline</h3>
      <h4> <%= pluralize(@user.posts.count, "post") %></h4>
      <ul style="list-style-type:none" class="timeline">
      <%= render @user_feed %>
      </ul>

      <%= paginate @user_feed  %>
    <% end %>
  
  </div>

 </div> 
</div>