


<span id="like_button_<%= post.unique_id %>">
	<% if post.liked_by?(current_user)  %>
		<% @like = post.find_like(current_user) %>
		<%= form_with(model: @like,
				html: {method: :delete}, remote: true) do |f| %>
		<%=		f.hidden_field :post, value: post %>
		<%= f.submit "Unlike Post", class: "btn" %>
		<% end %>

	<% else %>

		
		<%= form_for(post.likes.build, remote: true) do |f| %>
 		 <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :likeable_id, value: post.id %>
    <%= f.hidden_field :liker_id, value: current_user.id %>
    <%= f.hidden_field :likeable_type, value: post.class %>
 
  
    <%= f.submit "Like", class: "btn btn-primary btn-sm like-btn" %>
  
	<% end %>

	<% end %> 
		<% if post.likers.exists? %>
			
			<p class="like-count"><%= pluralize(post.likers.count, "like") %>
			
			<%= render 'shared/likers', post: post, post_id: post.unique_id %>
		
		<% end %>
</span>





