

<div class="row">
  <div class="col-md-12">
<h1> Friend Requests Received</h1>
<%= @incoming_count %>
<ul>
	<% @incoming.each do |request| %>
	<li>
		<% sender = User.find(request.user_id) %>
		<%= link_to sender.name, sender %>
		|
		<%= form_for request, method: :put do |f| %>
				<%= f.hidden_field :friend, :value => sender.id %>
			
				<%= f.submit "Accept Friend Request", class: "btn btn-group btn-primary btn-sm" %>
				<% end %>
		|
		<%= form_for request, method: :delete do |f| %>
				<%= f.hidden_field :sender, :value => sender.id %>
			
				<%= f.submit "Decline Friend Request", class: "btn btn-group btn-primary btn-sm" %>
				<% end %>		

	</li>

	<% end %>
</ul>

<div class="row">
	 <%= link_to "Friend Requests Sent", requests_sent_path %>
</div>


